.cards {
  width: 77vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  &__title {
    color: $color-primary;
    font-weight: 400;
  }

  &__title:nth-of-type(even) {
    margin-top: 0.5rem;
    padding-top: 1rem;
  }

  &__card {
    background: lighten($color: $color-primary, $amount: 71%);
    padding: 2em;
    border-bottom: 5px solid $color-black;

    h2 {
      margin: 1rem 0;
    }

    h2,
    h3 {
      color: $color-black;
    }

    &--info {
      display: flex;
      justify-content: space-between;

      span {
        font-weight: 600;
        color: $color-primary;
      }
    }
  }
}